body {
    background: #111;
    color: white;
    text-align: center;
}

button {
    padding: 10px;
    background: cyan;
    border: none;
}

pre {
    background: #222;
    padding: 10px;
    margin: 20px;
}